body{
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,.5) !important;
	position: sticky;
  font-family: 'Lexend Deca', sans-serif;
}
@media(max-width:768px){
  body{
  background-image: url("../img/bg_potrait.jpg");
  background-color: #000000;
  }
}
header{
  top: 0px;
  left: 0px;
  position: relative;
}
.logo{
  height: 40px;
}
.no-margin{
  padding: 0px;
  left: 0;
  margin-left:0px;
}
.nav-link{
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

footer {
  font-family: 'Lexend Deca', sans-serif;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,0,0,.8);
   color: white;
   text-align: center;
   font-size: 12px;
   padding-top: 10px;
}
.content{
  height: 100%;
}
a{
  text-decoration: none !important;
}
footer a{
  color: #00e4ff;
}
footer a:hover{
  color: #fff;
}
.big-text{
  font-family: monoton;
  color: white;
}
.tag{
  padding: 5px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.list-more{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  list-style: none;
}
.list-more a{
  color: #fff;
  transition: 1s ease;
}
.list-more a:hover{
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
.para-more{
  text-align: justify;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}
.section-fluid{
  background-color: #000000;
}
.quote{
  font-size: 30px;
  color: #00e4ff;
  font-family: serif;
}
.socials a{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.socials a:hover{
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.para{
  font-family: 'Lexend Deca', sans-serif;
  color:white;
}
.border{
  border: none;
  border-radius: 10px;
}
.btn{
text-transform: uppercase;
font-size: 12px;
font-family: "Lexend deca";
min-width: 60px;
max-width: 100px;
}
.btn-primary{
  border: 2px solid #00e4ff;
  color: #000000;
  background-color: #00e4ff;
}
.btn-primary:hover{
  border: 2px solid #00e4ff;
  color: #000000;
  background-color: #00e4ff;
  box-shadow: 0 0 15px #00e4ff;
}
.btn-outline-primary{
  border: 2px solid #00e4ff;
  background-color: #000000;
  color: #00e4ff;
}
.btn-outline-primary:hover{
  border: 2px solid #00e4ff;
  background-color: #000000;
  color: #00e4ff;
  box-shadow: 0 0 15px #00e4ff;
}
.form-label{
  color: #00e4ff;
  font-size: 14px;
}
.header-login{
  top: 0;
  margin: -20px;
  left: 0px;
  width:100%;
  background-color: #353a40;
}
.login-card{
  padding: 20px;
  width: 90%;
  height: 300px;
  border-radius: 10px;
  border : 1px solid #00e4ff;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-form{
    text-align: center;
}
.login-form input{

  width: 100%;
  color: white;
  border: 2px solid #00e4ff;
  background-color: rgb(0, 0, 0,0);
  padding: 5px;
}
.header-admin{
  font-family: 'Lexend Deca', sans-serif;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #353a40;
   color: white;
   text-align: center;
   font-size: 16px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.user_icon
{
  color: #00e4ff;
  font-size: 30px;
}
.user_info{
  z-index: 10;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 16px;
  background-color: black;
  display: none;
  position: absolute;
  border: 1 px solid gray;
  box-shadow: .5px .5px 5px;
  border-radius: 5px;
}

.user_icon:hover .user_info{
     display: block !important;
}
.blog-card{
  border-radius: 10px;
  border: 2px solid #00e4ff;
  background-color: black;
}
.blog-image img{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.blog-content{
  padding: 10px;
}
.blog-content h2{
  color: white;
  font-size: 26px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
}
.blog-content p{

}
.blog-footer{
  color: white;
  font-family: Lexend deca;
  font-size: 14px;
}
.blog-content a{
position: absolute;
 color: white;
  font-size: 18px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  right: 10%;
}
.blog-content a{
  color: white;
}
.blog-form{
  padding: 20px;
}
.team-sub{
  font-size: 20px;
  color: #00e4ff;
}
.para i{
  padding: 10px;
  font-size: 28px;
  color: #00e4ff;
}
.sharelink{
  color:white;
  font-size:20px;
}
.sharelink:hover .copyFieldCon{
  display: block !important;
  position: absolute;
}
.copyFieldCon{
  padding: 20px;
  border: 1px solid #00e4ff;
  width: 50%;
  display: none;
  background-color: black;
  top:50;
  text-align: center;
}
/* version 3.0 */
.dropdown-menu{
  background-color: rgba(0,0,0,.7) !important;
  border-radius: 10px !important;
}
.nav-link{
  font-size: 16px;
  color: rgba(255,255,255,0.7) !important;
  transition: .3s ease;
}
.dropdown-menu .nav-link{
  color: #fff !important;
}
.dropdown-menu .nav-link.active2{
  color: #00e4ff !important;
}
.active2 a{
  color: #00e4ff !important;
}
.nav-link:hover{
  color: #fff !important;
  font-weight: bolder;
}
.dropdown-menu .nav-link:hover{
  color: #000000 !important;
  background-color: #00e4ff !important;
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
#fade{
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    padding-top: 30px;
    opacity: 0;
  }
  100% {
    padding-top: 0px;
    opacity: 1;
  }
}
#car-front{
  animation: fadeInright ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInright {
  0% {
    position: absolute;
    left: -100px;
  }
  100% {
    left: 0px;
    position: relative;
  }
}
#car-back{
  animation: fadeInleft ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInleft {
  0% {
    position: absolute;
    right: -100px;
  }
  100% {
    right: 0px;
    position: relative;
  }
}
.card{
  font-family: "Lexend deca";
}
.text-primary{
  color: #00e4ff !important;
}
.bg-black{
  background-color: #000000 !important;
  color: #fff;
}
.card a{
  padding: 5px;
  color: #00e4ff;
  font-size: 20px;
}
