
body{
  background-size: 100%;
	background-repeat: no-repeat;
	background-color: black !important;
	position: sticky;
  font-family: 'Lexend Deca', sans-serif;
}
@media(max-width:768px){
  body{
  background-image: url("https://iphone-wallpaper.pics/wallpaper/t/e/tesla-model-s-dark-brake-light--iphone-6-wallpaper-ilikewallpaper_com_07d542634a7dca4d5d19766c714076c9_raw.jpg");
  background-color: #000000;
  }
}
.logo{
  height: 40px;
}
.nav-link{
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

footer {
  font-family: 'Lexend Deca', sans-serif;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,0,0,.8);
   color: white;
   text-align: center;
   font-size: 16px;
   padding-top: 5px;
}
footer a{
  color: #4
}
.big-text{
  font-family: monoton;
  color: white;
}
.tag{
  padding: 5px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.list{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.content{
  padding-left: 3%;
}
.para-more{
  width : 50%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  color: rgb(200,200,200,1);
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(0,0,0,.3);
}
@media(max-width:768px){
  .para-more{
    width : 100%;
  }
}

.socials a{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.socials a:hover{
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.para{
  font-family: 'Lexend Deca', sans-serif;
  color:white;
}
.border{
  border: none;
  border-radius: 10px;
}
.reg-box{
  width: 100%;

}
.reg-form input{
  padding: 5px;
  color: white;
  width: 90%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 2px solid #00e4ff;
}
.reg-form textarea{
  padding: 5px;
  color: white;
  width: 90%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #00e4ff;
  height : 130px;
}
.btn-site{
  color: black;
  background: #00e4ff;
  border: none;
  padding: 5px;
}

.btn-site:hover{
  box-shadow: 2px 2px 10px  #00e4ff;
  font-size: 18px;
}
.form-label{
  color: #00e4ff;
  font-size: 14px;
}
.header-login{
  top: 0;
  margin: -20px;
  left: 0px;
  width:100%;
  background-color: #353a40;
}
.login-card{
  padding: 20px;
  width: 90%;
  height: 300px;
  border-radius: 10px;
  border : 1px solid #00e4ff;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-form{
    text-align: center;
}
.login-form input{

  width: 100%;
  color: white;
  border: 2px solid #00e4ff;
  background-color: rgb(0, 0, 0,0);
  padding: 5px;
}
.header-admin{
  font-family: 'Lexend Deca', sans-serif;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #353a40;
   color: white;
   text-align: center;
   font-size: 16px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.user_icon
{
  color: #00e4ff;
  font-size: 30px;
}
.user_info{
  z-index: 10;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 16px;
  background-color: black;
  display: none;
  position: absolute;
  border: 1 px solid gray;
  box-shadow: .5px .5px 5px;
  border-radius: 5px;
}

.user_icon:hover .user_info{
     display: block !important;
}
.blog-card{
  border-radius: 10px;
  border: 2px solid #00e4ff;
  background-color: black;
}
.blog-image img{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.blog-content{
  padding: 10px;
}
.blog-content h2{
  color: white;
  font-size: 26px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
}
.blog-content p{

}
.blog-footer{
  color: white;
  font-family: Lexend deca;
  font-size: 14px;
}
.blog-content a{
position: absolute;
 color: white;
  font-size: 18px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  right: 10%;
}
.blog-content a{
  color: white;
}
.blog-form{
  padding: 20px;
}
.team-sub{
  font-size: 20px;
  color: #00e4ff;
}
.para i{
  padding: 10px;
  font-size: 28px;
  color: #00e4ff;
}
.sharelink{
  color:white;
  font-size:20px;
}
.sharelink:hover .copyFieldCon{
  display: block !important;
  position: absolute;
}
.copyFieldCon{
  padding: 20px;
  border: 1px solid #00e4ff;
  width: 50%;
  display: none;
  background-color: black;
  top:50;
  text-align: center;
}
/* version 3.0 */
.dropdown-menu{
  background-color: rgba(0,0,0,.7) !important;
  border-radius: 10px !important;
}
.nav-link{
  font-size: 16px;
  color: rgba(255,255,255,0.7) !important;
  transition: .3s ease;
}
.dropdown-menu .nav-link{
  color: #00e4ff !important;
}
.active2 a{
  color: #00e4ff !important;
}
.nav-link:hover{
  color: #fff !important;
  font-weight: bolder;
}
.dropdown-menu .nav-link:hover{
  color: #000000 !important;
  background-color: #00e4ff !important;
}
